@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sb51tm');
  src:  url('../fonts/icomoon.eot?sb51tm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sb51tm') format('truetype'),
    url('../fonts/icomoon.woff?sb51tm') format('woff'),
    url('../fonts/icomoon.svg?sb51tm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouyefill1:before {
  content: "\e752";
}
.icon-shouye1:before {
  content: "\e753";
}
.icon-tongzhifill1:before {
  content: "\e75a";
}
.icon-tongzhi1:before {
  content: "\e75b";
}
.icon-xinxifill1:before {
  content: "\e764";
}
.icon-xinxi1:before {
  content: "\e765";
}
.icon-yonghufill1:before {
  content: "\e789";
}
.icon-yonghu1:before {
  content: "\e78a";
}
.icon-tubiaozhizuomoban:before {
  content: "\e613";
}
.icon-checklist:before {
  content: "\e610";
}
.icon-idcard:before {
  content: "\e614";
}
.icon-laptop:before {
  content: "\e615";
}
.icon-ziyuan:before {
  content: "\e60f";
}
.icon-ziyuan1:before {
  content: "\e616";
}
.icon-icon_jiaoyu:before {
  content: "\e60c";
}
.icon-icon_kefu:before {
  content: "\e60d";
}
.icon-shujuku:before {
  content: "\e604";
}
.icon-rili:before {
  content: "\e603";
}
.icon-shouyefill:before {
  content: "\e750";
}
.icon-shouye:before {
  content: "\e751";
}
.icon-tongzhifill:before {
  content: "\e758";
}
.icon-tongzhi:before {
  content: "\e759";
}
.icon-xinxifill:before {
  content: "\e762";
}
.icon-xinxi:before {
  content: "\e763";
}
.icon-yonghufill:before {
  content: "\e787";
}
.icon-yonghu:before {
  content: "\e788";
}
.icon-mail-envelope:before {
  content: "\e900";
}
.icon-mail-envelope1:before {
  content: "\e901";
}
.icon-key:before {
  content: "\e902";
}
.icon-key1:before {
  content: "\e903";
}
.icon-warning:before {
  content: "\e904";
}
.icon-cloud:before {
  content: "\e905";
}
.icon-locked:before {
  content: "\e906";
}
.icon-inbox:before {
  content: "\e907";
}
.icon-comment:before {
  content: "\e908";
}
.icon-mic1:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-briefcase:before {
  content: "\e90b";
}
.icon-cart1:before {
  content: "\e90c";
}
.icon-contrast:before {
  content: "\e90d";
}
.icon-clock:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-cog:before {
  content: "\e910";
}
.icon-music1:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-pencil1:before {
  content: "\e913";
}
.icon-frame:before {
  content: "\e914";
}
.icon-switch:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e916";
}
.icon-key2:before {
  content: "\e917";
}
.icon-chart:before {
  content: "\e918";
}
.icon-apple:before {
  content: "\e919";
}
.icon-file:before {
  content: "\e91a";
}
.icon-plus:before {
  content: "\e91b";
}
.icon-minus:before {
  content: "\e91c";
}
.icon-picture:before {
  content: "\e91d";
}
.icon-folder1:before {
  content: "\e91e";
}
.icon-camera1:before {
  content: "\e91f";
}
.icon-search:before {
  content: "\e920";
}
.icon-dribbble:before {
  content: "\e921";
}
.icon-forrst:before {
  content: "\e922";
}
.icon-feed1:before {
  content: "\e923";
}
.icon-blocked:before {
  content: "\e924";
}
.icon-target:before {
  content: "\e925";
}
.icon-play1:before {
  content: "\e926";
}
.icon-pause:before {
  content: "\e927";
}
.icon-bug:before {
  content: "\e928";
}
.icon-console:before {
  content: "\e929";
}
.icon-film1:before {
  content: "\e92a";
}
.icon-type:before {
  content: "\e92b";
}
.icon-home1:before {
  content: "\e92c";
}
.icon-earth:before {
  content: "\e92d";
}
.icon-location:before {
  content: "\e92e";
}
.icon-info:before {
  content: "\e92f";
}
.icon-eye:before {
  content: "\e930";
}
.icon-heart:before {
  content: "\e931";
}
.icon-bookmark:before {
  content: "\e932";
}
.icon-wrench:before {
  content: "\e933";
}
.icon-calendar:before {
  content: "\e934";
}
.icon-window:before {
  content: "\e935";
}
.icon-monitor:before {
  content: "\e936";
}
.icon-mobile:before {
  content: "\e937";
}
.icon-droplet1:before {
  content: "\e938";
}
.icon-mouse:before {
  content: "\e939";
}
.icon-refresh:before {
  content: "\e93a";
}
.icon-location1:before {
  content: "\e93b";
}
.icon-tag:before {
  content: "\e93c";
}
.icon-phone:before {
  content: "\e93d";
}
.icon-star1:before {
  content: "\e93e";
}
.icon-pointer:before {
  content: "\e93f";
}
.icon-thumbsup:before {
  content: "\e940";
}
.icon-thumbsdown:before {
  content: "\e941";
}
.icon-headphones1:before {
  content: "\e942";
}
.icon-move:before {
  content: "\e943";
}
.icon-checkmark:before {
  content: "\e944";
}
.icon-cancel:before {
  content: "\e945";
}
.icon-skype:before {
  content: "\e946";
}
.icon-gift:before {
  content: "\e947";
}
.icon-cone:before {
  content: "\e948";
}
.icon-alarm:before {
  content: "\e949";
}
.icon-coffee:before {
  content: "\e94a";
}
.icon-basket:before {
  content: "\e94b";
}
.icon-flag:before {
  content: "\e94c";
}
.icon-ipod:before {
  content: "\e94d";
}
.icon-trashcan:before {
  content: "\e94e";
}
.icon-bolt:before {
  content: "\e94f";
}
.icon-ampersand:before {
  content: "\e950";
}
.icon-compass:before {
  content: "\e951";
}
.icon-list:before {
  content: "\e952";
}
.icon-grid:before {
  content: "\e953";
}
.icon-volume:before {
  content: "\e954";
}
.icon-volume1:before {
  content: "\e955";
}
.icon-stats:before {
  content: "\e956";
}
.icon-target1:before {
  content: "\e957";
}
.icon-forward:before {
  content: "\e958";
}
.icon-paperclip:before {
  content: "\e959";
}
.icon-keyboard:before {
  content: "\e95a";
}
.icon-crop:before {
  content: "\e95b";
}
.icon-floppy:before {
  content: "\e95c";
}
.icon-filter:before {
  content: "\e95d";
}
.icon-trophy:before {
  content: "\e95e";
}
.icon-diary:before {
  content: "\e95f";
}
.icon-addressbook:before {
  content: "\e960";
}
.icon-stop:before {
  content: "\e961";
}
.icon-smiley:before {
  content: "\e962";
}
.icon-shit:before {
  content: "\e963";
}
.icon-bookmark1:before {
  content: "\e964";
}
.icon-camera2:before {
  content: "\e965";
}
.icon-lamp:before {
  content: "\e966";
}
.icon-disk:before {
  content: "\e967";
}
.icon-button:before {
  content: "\e968";
}
.icon-database:before {
  content: "\e969";
}
.icon-creditcard:before {
  content: "\e96a";
}
.icon-atom:before {
  content: "\e96b";
}
.icon-winsows:before {
  content: "\e96c";
}
.icon-target2:before {
  content: "\e96d";
}
.icon-battery:before {
  content: "\e96e";
}
.icon-code:before {
  content: "\e96f";
}
.icon-home:before {
  content: "\e970";
}
.icon-home2:before {
  content: "\e971";
}
.icon-home3:before {
  content: "\e972";
}
.icon-office:before {
  content: "\e973";
}
.icon-newspaper:before {
  content: "\e974";
}
.icon-pencil:before {
  content: "\e975";
}
.icon-pencil2:before {
  content: "\e976";
}
.icon-quill:before {
  content: "\e977";
}
.icon-pen:before {
  content: "\e978";
}
.icon-blog:before {
  content: "\e979";
}
.icon-eyedropper:before {
  content: "\e97a";
}
.icon-droplet:before {
  content: "\e97b";
}
.icon-image:before {
  content: "\e97c";
}
.icon-images:before {
  content: "\e97d";
}
.icon-camera:before {
  content: "\e97e";
}
.icon-headphones:before {
  content: "\e97f";
}
.icon-music:before {
  content: "\e980";
}
.icon-play:before {
  content: "\e981";
}
.icon-film:before {
  content: "\e982";
}
.icon-video-camera:before {
  content: "\e983";
}
.icon-dice:before {
  content: "\e984";
}
.icon-pacman:before {
  content: "\e985";
}
.icon-spades:before {
  content: "\e986";
}
.icon-clubs:before {
  content: "\e987";
}
.icon-bullhorn:before {
  content: "\e988";
}
.icon-connection:before {
  content: "\e989";
}
.icon-podcast:before {
  content: "\e98a";
}
.icon-feed:before {
  content: "\e98b";
}
.icon-mic:before {
  content: "\e98c";
}
.icon-book:before {
  content: "\e98d";
}
.icon-books:before {
  content: "\e98e";
}
.icon-library:before {
  content: "\e98f";
}
.icon-file-text:before {
  content: "\e990";
}
.icon-profile:before {
  content: "\e991";
}
.icon-file-empty:before {
  content: "\e992";
}
.icon-files-empty:before {
  content: "\e993";
}
.icon-file-picture:before {
  content: "\e994";
}
.icon-file-music:before {
  content: "\e995";
}
.icon-file-play:before {
  content: "\e996";
}
.icon-file-video:before {
  content: "\e997";
}
.icon-file-zip:before {
  content: "\e998";
}
.icon-copy:before {
  content: "\e999";
}
.icon-paste:before {
  content: "\e99a";
}
.icon-stack:before {
  content: "\e99b";
}
.icon-folder:before {
  content: "\e99c";
}
.icon-folder-open:before {
  content: "\e99d";
}
.icon-folder-plus:before {
  content: "\e99e";
}
.icon-folder-minus:before {
  content: "\e99f";
}
.icon-folder-upload:before {
  content: "\e9a0";
}
.icon-price-tag:before {
  content: "\e9a1";
}
.icon-price-tags:before {
  content: "\e9a2";
}
.icon-barcode:before {
  content: "\e9a3";
}
.icon-qrcode:before {
  content: "\e9a4";
}
.icon-ticket:before {
  content: "\e9a5";
}
.icon-cart:before {
  content: "\e9a6";
}
.icon-coin-dollar:before {
  content: "\e9a7";
}
.icon-coin-euro:before {
  content: "\e9a8";
}
.icon-coin-pound:before {
  content: "\e9a9";
}
.icon-coin-yen:before {
  content: "\e9aa";
}
.icon-credit-card:before {
  content: "\e9ab";
}
